<% if local_assigns.has_key? :record %> 
<%= render_slideshow_for(record) %>  
<article id="<%= dom_id(record) %>_page" class="section section-padding <%= record.name %>-section">
  <div class="container"> 
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <% if record.show_title_in_page -%>
            <h2 class="page-title text-center"><%= record.title %></h2>
            <% end -%>
            <%= render_copy_text(record.body, :class => "text-center") %>
          </div>
      </div> 
    </div> 
  </div>
  <% if record.children.in_menu.try(:any?) %>
  <div id="services" class="container">
    <div class="row">
        <% record.children.in_menu.each do |p| %>
        <div class="col-xs-6 col-sm-3 thumbnail-wrapper">
          <figure class="thumbnail">
            <div class="img-circle thumbnail-icon"></div>
            <div class="caption"> 
              <h4><%= raw p.title %></h4>
              <p><%= raw p.body %></p>
            </div>
          </figure>
        </div> 
        <% end %>
    </div>
   </div>
  <% end %>  
</article>
<% end %>