<% content_for :header do %>
<section id="header" data-bg="<%= resource.thumbnail.thumbnail("1200x800#").url() if resource.thumbnail %>">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div id="content-wrapper">
        <div id="content">
          <div class="text-container">
            <%= image_tag("logo-oscarpark.png", :id => "logo", :alt => "oscar parking stbarth gustavia") %>
            <div id="intro-text">
              <%= raw resource.body %>
            </div> 
          </div>
        </div>
      </div>   
    </div>
  </div>
</section>
<% end %>
<%# resource_cache(resource) do %>
<section id="about" class="section">
  <div class="container" class="text-center">
    <div class="row">
      <div class="col-xs-12">
        <%= render_copy_text(get_text_element(resource,'about')) %>
      </div>
    </div> 
  </div>
</section>
<%= render "google_map" %>        
<section id="infos" class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= render_copy_text(get_text_element(resource,'tariff')) %>
     </div>
     <div class="col-xs-12 col-sm-6">
       <%= render_copy_text(get_text_element(resource,'ticket')) %>
     </div>
   </div>
  </div>
</section>
<section id="conditions" class="section">
  <div class="container"> 
    <div class="row">
      <div class="col-xs-12">
        <%= render_copy_text(get_text_element(resource,'conditions')) %>
      </div>
    </div>
  </div>
</section>
<%= render 'contact' %>
<section id="oscar" class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= link_to "http://oscar-car-rental-stbarth.com/", :target => "_blank", :class => 'oscar-link' do %>
          <%= image_tag("logo.png", :id => "logo") %> 
          <br/><small><em>A service offered by OSCAR CAR RENTAL</em></small>
          <% end %>
     </div>
   </div>
  </div>
</section>
<%# end %>