<% homepage = current_site.sections.find_by_name("primary_menu") %>
<!DOCTYPE html>
<html class="no-js">
<%= render 'head' %>
<body id='<%= @body_id %>'>
  <%= yield :header %>
  <div id="page-wrapper">
    <%#= render "navbar" %>
    <%= render "locales_select" %>
    <section class="main-content">
      <%= yield %>
    </section>
    <%= render 'footer' %>
  </div>
  <!-- Oscar Park Ad -->
  <div id="oscar-rental-ad">
    <%= link_to("http://oscar-car-rental-stbarth.com#{'/en' if I18n.locale.to_s == 'en'}", :target => "_blank") do %>
      <%= image_tag("oscar-rental-ad-#{I18n.locale.to_s}.png") %>
    <% end %>
  </div>
  <!-- End Oscar Park Ad -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <%= render 'javascripts' %>

</body>  
</html>